/* GNOME CSD styles for headerbar on Firefox */

@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#TabsToolbar > .titlebar-buttonbox-container {
	display: none;
}

:root[customtitlebar] {
	/* Headerbar top border corners rounded */
	&[sizemode="normal"]:not([gtktiledwindow="true"]) #nav-bar {
		border-radius: env(-moz-gtk-csd-titlebar-radius, 5px) env(-moz-gtk-csd-titlebar-radius, 5px) 0 0 !important;
	}

	/* Restore nimbus window buttons (min/max/close) */
	#navigator-toolbox > #nav-bar > .titlebar-buttonbox-container {
	    display: flex !important;
	    margin-left: 6px !important;
	    align-items: center;
	    padding: 0 3px;

	    toolbarbutton.titlebar-button {
		width: 19px !important;
		height: 18px !important;
		max-height: 18px !important;
		min-height: 18px !important;
		min-width: 19px !important;
		margin: 0 3px !important;

		background-repeat: no-repeat !important;
		box-shadow: none !important;
		color: transparent !important;
		border: none !important;

		> image {
		    background-image: none !important;
		}

		&.titlebar-min {
		    background: url("../nimbus/minimize-normal.png") !important;

		    &:hover {
			background: url("../nimbus/minimize-hover.png") !important;
		    }
		    &:active {
			background: url("../nimbus/minimize-active.png") !important;
		    }
		    &:-moz-window-inactive {
			background: url("../nimbus/minimize-backdrop.png") !important;
		    }
		}

		&.titlebar-max {
		    background: url("../nimbus/maximize-normal.png") !important;

		    &:hover {
			background: url("../nimbus/maximize-hover.png") !important;
		    }
		    &:active {
			background: url("../nimbus/maximize-active.png") !important;
		    }
		    &:-moz-window-inactive {
			background: url("../nimbus/maximize-backdrop.png") !important;
		    }
		}

		&.titlebar-restore {
		    background: url("../nimbus/restore-normal.png") !important;

		    &:hover {
			background: url("../nimbus/restore-hover.png") !important;
		    }
		    &:active {
			background: url("../nimbus/restore-active.png") !important;
		    }
		    &:-moz-window-inactive {
			background: url("../nimbus/restore-backdrop.png") !important;
		    }
		}

		&.titlebar-close {
		    background: url("../nimbus/close-normal.png") !important;

		    &:hover {
			background: url("../nimbus/close-hover.png") !important;
		    }
		    &:active {
			background: url("../nimbus/close-active.png") !important;
		    }
		    &:-moz-window-inactive {
			background: url("../nimbus/close-backdrop.png") !important;
		    }
		}
	    }
	}

	#toolbar-menubar {
		/* Prevent menubar from breaking */
		&:not([inactive=true]) {
			height: 30px !important;
			margin-bottom: 8px;
		}

		/* Always hide menu bar window buttons*/
		& > .titlebar-buttonbox-container {
			display: none !important;
		}
	}

	&[inFullscreen] {
		/* Remove close and minimize buttons from fullscreen buttons */
		.titlebar-buttonbox-container .titlebar-min,
		.titlebar-buttonbox-container .titlebar-close {
			display: none !important;
		}

		/* Force the restore button to appear regardless of maximize button's status */
		&:not([inDOMFullscreen]) {
			.titlebar-buttonbox-container {
				visibility: visible !important;
			}
			.titlebar-restore {
				display: inherit !important;
			}
		}
	}

	.titlebar-spacer {
		display: none;
	}
}

/* OPTIONAL: Allow draging the window from headerbar buttons */
@media -moz-pref("gnomeTheme.dragWindowHeaderbarButtons") {
	:root[customtitlebar] #nav-bar *,
	:root[customtitlebar] #titlebar .titlebar-button {
		-moz-window-dragging: drag;
	}

	/* Avoid window dragging from urlbar */
	:root[customtitlebar] #nav-bar .urlbar-input-box,
	:root[customtitlebar] #nav-bar .urlbar-input-box * {
		-moz-window-dragging: no-drag !important;
	}
}
