@import "popups-contents.css";
@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

menupopup,
.menupopup-arrowscrollbox {
	border-radius: 4px !important;
}
:root {
    --arrowpanel-border-radius: 4px !important;
}

/* Adjust popovers position */
panel[type=arrow] {
	margin-top: 9px !important;
	max-height: 80vh !important;
}
panel[type=arrow][position] .panel-arrow {
	margin-right: 30px !important;
	margin-left: 30px !important;
}/*
.panel-arrowcontent {
    box-shadow: var(--gnome-popover-shadow) !important;
}*/

menupopup > menuitem, menupopup > menu {
    padding-block: 2px !important;
    min-height: 26px !important;
}

*|*:root {--arrowpanel-menuitem-padding: 2px 8px !important;}
