/* Tabs bar  */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Remove blue line above tabs */
.tab-line {
    display: none !important;
    background-color: #7d9bb5 !important;
}

.tab-background {
    border-radius: 5px 5px 0 0 !important;
    border-image: none !important;
    border: 1px solid #888888 !important;
    border-bottom: 3px solid #b6b6b3 !important;
    background-color: #e8e9ed !important;
    margin: 0 -2px !important;
}

tab[selected] .tab-background {
    background-color: none;
    background-image: linear-gradient(to bottom, #e8e9ed 5%, #a3b8cb) !important;
    border: 1px solid #394e61 !important;
    border-bottom: 1px solid #a3b8cb !important;
}

tab:not([selected]) .tab-background,
tab:not([selected]) .tab-content {
    margin-top: 2px !important;
}

tab:not([selected]):not(:hover) .tab-close-button {
    list-style-image: none !important;
}
tab[selected]:not(:hover) .tab-close-button {
    min-width: 24px;
}

.tabbrowser-tab::after, .tabbrowser-tab::before {
    border-left: none !important;
}

/* Tabs bar height */
#tabbrowser-tabs,
#tabbrowser-tabs arrowscrollbox {
	height: initial !important;
	min-height: initial !important;
}
tab > stack {
	height: 38px !important;
	min-height: 38px !important;
}
/* Extra margin for the first and last tabs */
.tabbrowser-tab[first-tab]:not([pinned]) {
	margin-left: 8px !important;
}
.tabbrowser-tab[last-tab]:not([pinned]) {
	margin-right: 8px !important;
}

#TabsToolbar .toolbar-items {
       margin-bottom: -1px !important;
}

/* Remove hover effects on tab bar buttons */
#TabsToolbar {
	--toolbarbutton-active-background: transparent !important;
	--toolbarbutton-hover-background: transparent !important;
	padding: 0 3px !important;
}

/* New hover effect */
#TabsToolbar toolbarbutton {
	fill-opacity: .6 !important;
}
#TabsToolbar toolbarbutton:not([disabled]):hover,
#TabsToolbar toolbarbutton[open] {
	fill-opacity: 1 !important;
}

/* Remove shadow next to tab scroll buttons */
.arrowscrollbox-overflow-start-indicator,
.arrowscrollbox-overflow-end-indicator {
	display: none;
}

/* Create new container tab indicator */
.tabbrowser-tab[class*="identity-color-"] .tab-content::before {
	content: "";
	display: block;
	background-image: var(#userContext-icons:--identity-icon);
	background: var( --identity-tab-color);
	-moz-context-properties: fill;
	fill: var(--identity-icon-color);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	min-width: 10px;
	height: 10px;
	margin-right: 5px;
	margin-left: auto !important;
	border-radius: 100%;
}

.tab-close-button {
	-moz-appearance: none !important;
	border: 1px solid transparent;
	box-sizing: content-box;
	border-radius: 5px;
	list-style-image: url("../icons/window-close-symbolic.svg") !important;
	padding: 4px !important;
}
:root:not(:-moz-window-inactive) .tab-close-button:hover {	
	background-image: var(--gnome-button-background);
	box-shadow: var(--gnome-button-box-shadow);
	border: 1px solid var(--gnome-button-border-color);
	border-bottom-color: var(--gnome-button-border-accent-color);
	opacity: 1;
}
:root:not(:-moz-window-inactive) .tab-close-button:active {
	background-image: var(--gnome-button-active-background) !important;
	box-shadow: var(--gnome-button-active-box-shadow) !important;
	border-color: var(--gnome-button-active-border-color) !important;
	border-bottom-color: var(--gnome-button-active-border-color) !important;
	border-top-color: var(--gnome-button-active-border-accent-color) !important;
}
.tab-close-button:active:not(:hover) {
	background-image: none !important;
	box-shadow: none !important;
}
